/*@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Changa+One&display=swap");*/

* {
    font-family: "Constantia", sans-serif;
    /* box-sizing: border-box;*/
}
/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
    
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {

    .col-lg-2 {
        width: 50% !important;
    }
    .sections{
        padding: 5px !important;
    }
    .social {
        font-size: 40px !important;
    }
    .heading {
         font-size: 30px !important;
    }
}


[class*="col-"] {
    float: left;
}
.rowBorder{
    border: 1px solid white; /* Add white outline border */
    background-color: #000000;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.rowBorder::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x: auto;
}

#pfp {
/*    height: 270px;*/
/*    width: 330px;*/
    border: 3px solid #3D5A80;
}

#name {
    font-size: 25px;
    padding: 5px;
   /* text-decoration: underline;*/
    text-shadow: 0px 0px 3px #cb0b0b;
}

.heading {
   /* letter-spacing: 6px;*/
    text-align: center;
    font-size: 45px;
   /* border: 3px solid #3D5A80; */
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 5px #cb0b0b;
    font-family: 'Comic Sans MS';
}

.parallax {
    /* The image used */
    background-image: url('Images/wake_up.gif');
    /* Set a specific height */
    min-height: 200px;
    /* background-attachment: fixed; */
    background-position: center;
     background-repeat: no-repeat; 
     background-size: cover; 
     image-rendering: crisp-edges; /* Remove yellow dots */
}

.parallax2 {
    /* The image used */
    background-image: url('Images/unnamed.png');
    /* Set a specific height */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social {
    font-size: 60px;
    padding: 5px;
}

.download {
    font-size: 60px;
}

.sections {
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    background-color: #700707;
    padding: 10px;
}
    .sections a {
        text-decoration: none;
    }

.container-fluid {
    background-image: linear-gradient(to bottom, #110520, black);
    color: #cb0b0b;
    font-family: 'Montserrat';
    line-height: 25px;
    text-align: center;
}

.contact-info {
    font-size: 20px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.sticky {
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

}

.hr {
    border: 2px solid #110520;
    
}

.hr2 {
    border: 30px solid #110520;
}

.h3 {
    border: 1px solid #110520; 
}

body {
    border-top: unset !important;
    background-color: #1f2531;
    font-size: 20px !important;
}

a:link {
 color: #E0FBFC;
}

a:visited {
    color: #E0FBFC;
}

a:hover {
    color: #98C1D9;
}

a:active {
    color: #3D5A80;
}

#white {
    color: white;
}

.white {
    color: white;
}
.iconImage{
    height: 70px;
    width: 70px;
}
.change {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: #9e1a1ae8;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius,0);
}
.change2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    height: 50px;
    background-color: #9e1a1ae8;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out; /* Add transition for smoother effect */
}

.resume-icon {
    display: block;
    margin-top: 10px; /* Adjust the margin to position the icon below the button */
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Adjust the size of the image as needed */
    height: auto;
    opacity: 0; /* Initially hide the image */
}

.change2:hover + .resume-icon {
    opacity: 1; /* Show the image on hover */
}

.change2:hover {
    background-color: #7a0d0de8; /* Change background color on hover */
}

.dropdown-menu {
    --bs-dropdown-bg: #700707 !important; 
}

.nav-link:focus,
.nav-link:hover {
    color: rgb(188 12 12 / 80%) !important;
}

.dropdown-toggle {
    text-align: center !important;
    text-decoration: none;
}


.navbar {
    font-size: 20px !important;
    border: 2px solid black !important;
    background-color: #700707 !important;
    padding: 10px !important;
    justify-content: center !important;
   /* display: unset !important;*/
}
.narbar-fluid {
    background-color:#cb0b0b;
}
